/* Reset cơ bản */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(https://th.bing.com/th/id/R.1dee0177a1664ff4579b3e74979f4ffb?rik=rlBfhqha%2b3oswQ&pid=ImgRaw&r=0);
}

/* Container cho modal */
.modal {
  position: fixed; /* Cố định vị trí */
  z-index: 1; /* Đặt modal lên trên cùng */
  left: 0;
  top: 0;
  width: 100%; /* Chiếm toàn bộ chiều rộng */
  height: 100%; /* Chiếm toàn bộ chiều cao */
  overflow: auto; /* Kích hoạt cuộn nếu cần */
  background-color: rgba(0, 0, 0, 0.76); /* Màu nền tối */
  background-color: rgba(0, 0, 0, 0.4); /* Nền mờ */
  padding-top: 60px;
}

/* Hộp nội dung của modal */
.modal-content {
  background-color: #b7d1e9;
  margin: 5% auto; /* Căn giữa hộp */
  padding: 20px;
  border: 4px solid #a14b4b;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px; /* Bo tròn góc */
}

/* Nút đóng modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Các trường và nhãn trong form */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #a08856;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #09e014;
}
